

	{% capture pageTitle %}{{ model.title | escape}}{{global.pageTitleSeperator}}{{ global.defaultPageTitle | escape}}{% endcapture %}

	{% include "header" with pageTitle %}

	<div id="main-content">

		<div class="row">

		    <div class="large-12 columns">

				<div class="blog-post">

					<h2><a href="{{ model.slug }}">{{ model.title }}</a></h2>

					<div class="date">{{ model.date | date: "%B %d, %Y" }}</div>

					{% block content %}{% endblock %}

					<div class="social text-center">
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="rickwaalders" data-count="none" data-url="{{global.baseUrl}}{{ model.slug }}" data-text="{{ model.title }}">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

					</div>

				</div>

			</div>
		</div>

	</div>


	{% item order desc %}
		{% if next or previous %}
		<div class="row next-prev">

			<div class="large-6 columns next">

			{% if next %}
				<h4>Next post</h4>
				<p>
					<a href="{{ next.url }}">{{ next.title }}</a>
				</p>

			{% endif %}

			</div>

			<div class="large-6 columns prev">

			{% if previous %}
				<h4>Previous post</h4>
				<p>
					<a href="{{ previous.url }}">{{ previous.title }}</a>
				</p>

			{% endif %}

			</div>

		</div>

		{% endif %}
	{% enditem %}

	<div class="row">
		<div class="large-12 columns">

			<p class="text-center back">
				<a href="/blog">&#139; Back</a>
			</p>


		</div>
	</div>

	{% include "footer" %}