

	{% capture pageTitle %}{{ model.title | escape}}{{global.pageTitleSeperator}}{{ global.defaultPageTitle | escape}}{% endcapture %}

	{% capture isProject %}true{% endcapture %}

	{% include "header" with pageTitle and isProject %}

	<div id="loader">
	    <div class="spinner">
			<div class="cube1"></div>
			<div class="cube2"></div>
	    </div>
    </div>

	<div class="project-container {{model.bgPrefix}} {{model.topStyle}}">

		<a href="/" class="close-big"><span>Close</span></a>

		<a href="/" id="logo-small">RWA</a>
		<div id="project-nav">
			{% include "nav" %}
		</div>

		<div id="main-content" class="project-full">

			<div class="row">
				<div class="large-12 columns">
					<h1 class="project-name">{{ model.title }}</h1>
				</div>
			</div>

			{% block content %}{% endblock %}

		</div>

		<div class="project-bottom {{model.bottomStyle}}">
			<div class="row">

				<div class="large-12 columns text-center">

				    <a href="http://twitter.com/rickwaalders" target="_blank" class="cta">Follow me on Twitter</a>

				</div>
				
			</div>

			<div class="row">
				<div class="large-12 columns">

					<p class="text-center back">
						<a href="/#projects">&#139; All projects</a>
					</p>


				</div>
			</div>
		</div>

	</div>

	<div id="work-footer">

		{% item order desc %}

			{% if next %}
				<a href="{{ next.url }}" class="nxtprv nxt">Next Project</a>
			{% else %}
				<div class="nxtprv nxt disabled">Next Project</div>
			{% endif %}

			{% if previous %}
				<a href="{{ previous.url }}" class="nxtprv prv">Previous Project</a>
			{% else %}
				<div class="nxtprv prv disabled">Previous Project</div>
			{% endif %}

		{% enditem %}

		<a href="http://twitter.com/rickwaalders" class="tw"><span>@rickwaalders</span></a>


	</div>

	{% include "footer" %}

	{% block scripts %}
  	<script>

	$(function() {

		setTimeout(function() {
			$("#project-header").addClass("visible");
		}, 0);

		setTimeout(function() {
			$(".project-full").addClass("visible");
		}, 300);


		setTimeout(function() {
			$("#loader").addClass("hidden");
			$("html").removeClass("scrolldisabled");
			$("body").removeClass("scrolldisabled");
		}, 1200);
	});

	</script>
	{% endblock %}
	