

	{% capture pageTitle %}{{ model.title | escape}}{{global.pageTitleSeperator}}{{ global.defaultPageTitle | escape}}{% endcapture %}

	{% capture isProject %}true{% endcapture %}

	{% include "header" with pageTitle and isProject %}

	<div class="project-container {{model.bgPrefix}}">

		<a href="/" class="close-big"><span>Close</span></a>

		<a href="/" id="logo-small">RWA</a>
		<div id="project-nav">
			{% include "nav" %}
		</div>

		<div id="main-content" class="project-full">

			<div class="row">
				<div class="large-12 columns">
					<h1 class="project-name">{{ model.title }}</h1>
				</div>
			</div>

			{% block content %}{% endblock %}

			<div class="row">

				<div class="large-12 columns text-center">

				    <a href="http://twitter.com/rickwaalders" class="cta">Follow me on Twitter</a>

				</div>
				
			</div>

		</div>

		<div class="row">
			<div class="large-12 columns">

				<p class="text-center back">
					<a href="/#projects">&#139; All projects</a>
				</p>


			</div>
		</div>

	</div>

	{% include "footer" %}

	{% block scripts %}
  	<script>

	$(function() {

		setTimeout(function() {
			$("#project-header").addClass("visible");
		}, 0);

		setTimeout(function() {
			$(".project-full").addClass("visible");
		}, 300);

	});

	</script>
	{% endblock %}
	