

	{% capture pageTitle %}{{ model.title | escape}}{{global.pageTitleSeperator}}{{ global.defaultPageTitle | escape}}{% endcapture %}

	{% capture isProject %}true{% endcapture %}

	{% include "header" with pageTitle and isProject %}

	<div id="loader">
	    <div class="spinner">
			<div class="cube1"></div>
			<div class="cube2"></div>
	    </div>
    </div>

	<div class="project-container {{model.bgPrefix}} {{model.topStyle}}">

		<a href="/" class="close-big"><span>Close</span></a>

		<a href="/" id="logo-small">RWA</a>
		<div id="project-nav">
			{% include "nav" %}
		</div>

		{% if model.hideTop == true %}

			<div id="main-content" class="project-full no-top">

		{% else %}

			<div id="main-content" class="project-full">

				<div class="row">
					<div class="large-12 columns">
						<h1 class="project-name">{{ model.title }}</h1>
					</div>
				</div>

		{% endif %}

				{% block content %}{% endblock %}

			</div>


		<div class="{{model.bottomStyle}}">


			<div class="row">

				<div class="large-12 columns text-center">

					<div class="social text-center">
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="rickwaalders" data-count="none" data-url="{{global.baseUrl}}{{ model.slug }}" data-text="{{ model.title | escape}} by @rickwaalders{{global.pageTitleSeperator}}">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

						{% include "subscribe" %}

					</div>

				</div>
				
			</div>



			<div class="row">

				<div class="large-12 columns text-center">

				    <a href="http://twitter.com/rickwaalders" target="_blank" class="cta">Follow me on Twitter</a>

				</div>
				
			</div>

			<div class="row">
				<div class="large-12 columns">

					<p class="text-center back">
						<a href="/#projects">&#139; All projects</a>
					</p>


				</div>
			</div>
		</div>

	</div>

	<div id="work-footer">

		{% item order desc %}

			{% if next %}
				<a href="{{ next.url }}" class="nxtprv nxt">Next Project</a>
			{% else %}
				<div class="nxtprv nxt disabled">Next Project</div>
			{% endif %}

			{% if previous %}
				<a href="{{ previous.url }}" class="nxtprv prv">Previous Project</a>
			{% else %}
				<div class="nxtprv prv disabled">Previous Project</div>
			{% endif %}

		{% enditem %}

		<a href="http://twitter.com/rickwaalders" class="tw"><span>@rickwaalders</span></a>


	</div>

	{% include "footer-work" %}

	