<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
		<!--<title>{% if pageTitle %}{{pageTitle}}{% else %}{{ global.defaultPageTitle | escape}}{% endif %}</title>-->

		<title>{% if pageTitle %}{{pageTitle}}{% else %}{% block title %}{{ global.defaultPageTitle | escape}}{% endblock %}{% endif %}</title>

  		{{ "app.css" | asset_url | stylesheet_tag }}
  		<script src="{{ "modernizr.js" | asset_url }}"></script>
  		<script type="text/javascript" src="//use.typekit.net/qbw8nzy.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<div id="top-container">
			<div class="row" id="top">
		    	<div class="large-12 columns text-center">

				<a href="/" title="Home">
					<div id="logo">RWA</div>
				</a>

			</div>
		</div>

		<div class="row">
	    	<div class="large-12 columns text-center">
				<div id="nav">
				  <a href="/"{% if mixture.url == "index" %} class="active"{% endif %}>Work</a>
				  <a href="/blog/"{% if mixture.url == "blog" %} class="active"{% endif %}>Blog</a>
				  <a href="/about/"{% if mixture.url == "about" %} class="active"{% endif %}>About</a>
				</div>
			</div>

			</div>
		</div>