
{% block title %}{{ global.blogArchivePageTitlePrefix | escape}}{{ global.defaultPageTitle | escape}}{% endblock %}

{% block content %} 

	  <div class="row">

	    <div class="large-12 columns">

			{% archive "blog" %}
			  {% for item in archive.items %}
			    <h3>{{ item.year }}</h3>
			    <ul>
			    {% for post in item.children %}
			      <li><a href="{{ post.slug }}">{{ post.title }}</a></li>
			    {% endfor %}
			    </ul>
			  {% endfor %}
			{% endarchive %}

		</div>
	</div>

{% endblock %}




