
{% block title %}{{ global.blogPageTitlePrefix | escape}}{{ global.defaultPageTitle | escape}}{% endblock %}

{% block content %} 



{% collection "blog" %}
  {% for post in collection.items %}


	  <div class="row">

	    <div class="large-12 columns">

			<div class="blog-post">

				<h2><a href="{{ post.slug }}">{{ post.title }}</a></h2>

				<div class="date">{{ post.date | date: "%B %d, %Y" }}</div>

				{{ post.body }}

			</div>

		</div>
	</div>

  {% endfor %}
{% endcollection %}





{% endblock %}